


<div class="order-container">
    <div class="logoText"></div>
    <h1 class="logo">Timeless Aromas</h1>
    <h1>Order History</h1>
    <div class="order">
        <div class="order-details">
            <h2>Order #12345</h2>
            <p class="order-date">Date: March 12, 2024</p>
            <div class="product"></div>
            <p class="product-name">Product: rolex watch</p>
            <p class="quantity">Quantity: 2</p>

        </div>
        <div class="order-total">R1500.00</div>
    </div>

    <div class="order">
        <div class="order-details">
            <h2>Order #67890</h2>
            <p class="order-date">Date: March 10, 2024</p>
            <div class="product"></div>
            <p class="product-name">Product: Dolce & Gabbana</p>
            <p class="quantity">Quantity: 2</p>
        </div>
        <div class="order-total">R1750.00</div>
        
        <div class="total-price">R3250.00</div>
        <p class="signature">Signed by: Mpho Selemela</p>
        
    </div>
 