<h1 routerLink="/dash/home"><</h1>
<div class="mycard text-center">
    <div class="card-body">
      <img
      src={{product.image}}
        class="card-img-top"
        alt="cologne"
      />
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">{{product.price}}</p>
        <button *ngIf="removeCart" class="form-button" (click)=" removeToCart(productData.id)">Remove to Cart</button>
        <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>

