<div class="container">
    <div class="logoText">
        <h1 class="logo">Timeless Aromas</h1>
      </div>
      
      

<div class="row">
    <div class="col-6" *ngFor="let product of products">
        <div class="card">
            <img src={{product.image}} class="card-img-top" alt="watch" />
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.price}}</p>
              <button type="button" class="btn btn-primary" (click)="onView(product._id)">View</button>
            </div>
          </div>
    </div>
</div>

    
</div>

