.categories {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: .1rem;
    color: var(--purple);
    position: sticky;
    top: 0;
    background: var(whitesmoke) !important;

    input {
        display: none;
    }

    label {
        border: solid 2px var(--purple-50);
        background-color: var(--purple-50);
        padding: .1rem 1rem;
        border-radius: 1rem;
    }

    input[type="radio"]:checked+label {
        border: solid 2px var(--purple-100);
        background-color: var(--purple);
        color: var(--white);
      }
}