<div class="main container">
  <div class="container">
    <div class="mt-2 fs-4 mb-2">Get the best deals!</div>

    <nav aria-label="...">
      <ul class="pagination pagination-sm">
        <li class="page-item active" aria-current="page">
          <span class="page-link">All</span>
        </li>
        <li class="page-item"><a class="page-link">Watch</a></li>
        <li class="page"><a class="page-link">Cologne</a></li>
      </ul>
    </nav>
  </div>

  <div class="container text-center mt-4">
    <div class="row justify-content-evenly">
      <!-- <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div>
      <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div>
      <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div>
      <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div>
      <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div>
      <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div>
      <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div>

      <div class="col-6 py-2">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1523293182086-7651a899d37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZnVtZXxlbnwwfHwwfHx8MA%3D%3D"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="card-text fw-bolder">Bleu De Chanel</div>
            <div class="">R 950.00</div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<app-tool-bar />
