.main {
  padding: 0px 10px;
}

.signup {
  background-color: var(--purple100) !important;
  color: #fff;
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .login-form {
    margin-top: 80%;
  }
}
